* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

/* Página de inicio */
.inicio {
  height: 100vh;
  background-color: #c0c0c0;
  background-image: url(img/Backgroundinicio.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boton-cv {
  background-color: #db0e88;
  margin-bottom: -230px;
  color: white;
  border: none;
  padding: 30px 60px;
  font-size: 3.2rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px #0888b5;
  transition: 0.2s;
}

.boton-cv:hover {
  background-color: #00aaaa;
}

/* Página de ventanas:habilidades, estudios, proyectos etc*/
.curriculum {
  background-color: #3c2694;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px; 
  box-sizing: border-box;
}

.ventana-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
}

.ventana {
  background-color: #c0c0c0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 9px 11px 0px 0px rgb(0, 194, 229);
  width: 100%;
  flex: 1 1 470px;
  max-width: 470px;
  overflow: hidden;
}

.ventana h2 {
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #0078e4;
  border: 2px solid #25125c;
  border-right-color: #dc49be;
  border-bottom-color: #dc49be;
  border-radius: 10px;
  margin-block: 5px;
  padding: 7px 14px;
  box-shadow: inset -3px -3px #7e338c, inset 3px 3px #ffffff;
}

.bold {
  font-weight: bold;
}

.ventana ul {
  list-style: none;
  font-size: 1.1rem;
  color: #27145d;
  font-family: cursive;
  padding: 5px 10px;
}

.ventana li {
  margin-bottom: 8px;

}

.ventana p {
  margin-bottom: 10px;
}


.icono {
  width: 25px;
  height: 25px;
  image-rendering: pixelated;
}


.bold {
  font-weight: bold;
}

.img-habilidades {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset -3px -3px #7e338c, inset 3px 3px #ffffff;
  margin-block: 10px;
}


.footer {
  background-color: #c0c0c0;
  border-top: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

.inicio-boton {
  background-color: #008080;
  color: white;
  padding: 5px 15px;
  border: 2px solid #000;
  border-radius: 3px;
  cursor: pointer;
}

.inicio-boton:hover {
  background-color: #00aaaa;
}

.reloj {
  font-weight: bold;
}

.cv-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c2694;
}


.cv-header-contenido {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  background-color: #c0c0c0;
  padding: 30px;
  border-radius: 10px;
  max-width: 1000px;
  width: 100%;
  flex-wrap: wrap;
  box-shadow: 9px 11px 2px 4px rgb(0 194 229);
}


.cv-header-foto h3 {
  font-size: 1.8rem;
  color: #ffffff;
  width: 300px;
  text-align: center;
  background-color: #0078e4;
  border: 2px solid #25125c;
  border-right-color: #dc49be;
  border-bottom-color: #dc49be;
  border-radius: 10px;
  margin-block: 20px;
  padding: 7px 14px;
  box-shadow: inset -3px -3px #7e338c, inset 3px 3px #ffffff;
}

.foto {
  width: 300px;
  max-width: 300px;
  height: auto;
}

.redes{
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.redes li {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #c0c0c0;
  border: 2px solid #25125c;
  border-right-color: #dc49be;
  border-bottom-color: #dc49be;
  border-radius: 10px;
  padding: 2px 8px;
  box-shadow: inset -3px -3px #7e338c, inset 3px 3px #ffffff;
  margin-bottom: 10px;
  width: 200px;
}

.redes a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
}
.redes a:hover {
  color: #25125c;
}

.cv-texto {
  flex: 1;
  min-width: 250px;
  color: #000;
}

.cv-header h1 {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  background-color: #0078e4;
  border: 2px solid #25125c;
  border-right-color: #dc49be;
  border-bottom-color: #dc49be;
  border-radius: 10px;
  margin-block: 20px;
  padding: 10px 20px;
  box-shadow: inset -3px -3px #7e338c, inset 3px 3px #ffffff;
  
}

.cv-header p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

