/* margenes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.portada {
  text-align: center;
  background-color: #00158d;
  padding: 0px 0px;
}

.portada img {
  max-width: 100%;
  height: auto;
  border-radius: 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 0px;
}

.portada h1 { /*no creo que quede muy bien pero estoy viendo*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25em;
  color: #ca0588;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: 'Caveat', cursive;
  z-index: 1;
}


/* backgorund;fondo por ahora liso */
body {
  font-family: 'Quicksand', sans-serif;
  background-color: #00158d; 
  color: #333;
}

/* Header */
.header {
  background-color: #00158d;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navegación */
.nav-links {
  display: flex;
  list-style: none;
  gap: 500px;
}

.nav-links a {
  text-decoration: none;
  color: #ca0588;   /*puse las etras magenta para los texto en navegacion*/
  font-weight: bold;
  font-size: 2.2em;
  transition: color 0.3s ease;
}

.nav-links a:hover {
color: #fff; 
background-color: #ca0588;
padding: 5px 10px;
border-radius: 5px;
}

/* Títulos especiales  como titulo mayor y subtitulos por ahora así*/
h1, h2 {
  font-family: 'Caveat', cursive;
}

.sobre-mi {
  padding: 60px 100px;
  background-color: #ce0071;
  color: white;
}


.perfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  flex-wrap: wrap;
}

.foto-perfil {
  width: 400px;
  height: auto;
  border-radius: 30px;
  margin-left: 120px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.info-personal h2 { 
  display: flex;
  font-size: 1.5em;
}

.info-personal {
  flex: 1;
  max-width: 1000px;
  margin-right: 200px;
  font-size: 1.2em;
  line-height: 1.6;
  color: white;
  border: 1px solid white; 
  padding: 20px; 
  border-radius: 15px; 
}

.redes {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.redes li {
  margin-bottom: 10px;
}

.redes a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.redes a:hover {
  color: #0805ca;
}
/*Sigo probando varias cosas, las imagenes y el diseño no está termindo. 
Los colores si seran los que voy a usar, pero lo que es imagenes y diseño en general todavia no están terminados*/